
/* link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> */
.heading{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(66, 145, 108);
    margin-bottom:20px;
    text-align: center;
  }
  

  .bg-list{
      height: 100vh;
      background-color: rgba(68, 62, 62, 0.5);
     

  }


  .ul-list{
    list-style: none;
    padding-left: 0;
    width: 250px;
    text-align: center;
    
  }
  .ul-list li{
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    text-align: center;
   

    background: #3399ff;
    display: block;
  }

  label{
      margin: 20px;
      text-decoration: black;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      
  }

input {
  margin: 0;
  border: 2px solid black;
  border-radius: 0;
  width: 20%;
  padding: 10px;
 
  font-size: 16px;
  text-align: center;
}

  .add-btn{
  
        padding: 10px;
       
        background: black;
        color:white;
       
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 10px;

  }
  .add-btn:hover{
    background-color: rgba(46, 42, 42, 0.5);
  }
ul li .del-btn{
    color: black;
    background-color: rgb(169, 190, 108);
    border-radius: 10px;

}

ul li .del-btn:hover{
  background-color: red;
}

ul li{
    font-weight: bold;
    color: black;
}
.add-item{
    text-align: center;
}

ul{
  display: table;
  margin: 10px auto;
  margin-top: 50px;
    
    
}
.add-item ul li : hover{
    background-color: yellowgreen;
}
.heading:hover{
    background-color: yellowgreen;
}

/* hover issues   jhkjhkj*/

.nav{
  float: left;
}
.del-btn{
  font-size: 15px;
  
}